<h1>New Department</h1>

<%= form_with(model: @department, local: true) do |form| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :d_name %>
    <%= form.text_field :d_name %>
  </div>


  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary'  %>
  </div>
<% end %>



